In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv("data/train.csv", names=["rating", "overview", "reviewText"])

In [10]:
train.head()

,rating,overview,reviewText
0,3,more like funchuck,Gave this to my dad for a gag gift after direc...
1,5,Inspiring,I hope a lot of people hear this cd. We need m...
2,5,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
3,4,Chrono Cross OST,The music of Yasunori Misuda is without questi...
4,5,Too good to be true,Probably the greatest soundtrack in history! U...

In [11]:
train.tail()

,rating,overview,reviewText
2999995,1,Don't do it!!,The high chair looks great when it first comes...
2999996,2,"Looks nice, low functionality",I have used this highchair for 2 kids now and ...
2999997,2,"compact, but hard to clean","We have a small house, and really wanted two o..."
2999998,3,Hard to clean!,I agree with everyone else who says this chair...
2999999,1,what is it saying?,not sure what this book is supposed to be. It ...

In [4]:
train["overview"].replace(np.nan, "", inplace=True)

In [8]:
train["overview"].isnull().any()

False